.addEventBtn {
  width: 360px;
  height: 48px;
  background:  #001529 !important;
  color: #fff; 
}

.addEventBtn:hover {
  color: #1890ff; 
}

.eventItem {
  color: black;
  font-weight: 600 !important;
  font-size: 17px !important;
}

.eventItem:hover {
  color: #1890ff;
}